<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
       <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Title</ion-title>
    <ion-searchbar [formControl]="searchField" placeholder="Search"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Title</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-list id="inbox-list" *ngFor="let c of candidates">
      <ion-button routerLink="/detail/{{c.id}}">
        <ion-badge>{{c.id}}</ion-badge>&nbsp;
        <!--<ion-label>{{c.firstName}}&nbsp;{{c.lastName}}</ion-label>-->
        <ion-label>{{c.fullName}}</ion-label>
      </ion-button>
      <ion-fab>
        <!--delete button here-->
      </ion-fab>
    </ion-list>
    <ion-fab horizontal="end" vertical="bottom">
      <ion-fab-button routerLink="/add">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    <ion-fab>
      <ion-button (click)="logList()">log candidate list</ion-button>
    </ion-fab>
  </div>
</ion-content>
